In [65]:
import requests
import json

In [56]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")
db = client.get_database("project3")

In [57]:
client_id ="OULV0HTDMPKCEWPASDNE5ZCAROMR3B0X2OKFEGTZC5AQOTIP" 
client_secret="X5QNCWMER3ABFZPTZATGX5HIFFURSAGFC0A4KOTR0XFADBZW"

In [58]:
url_query = 'https://api.foursquare.com/v2/venues/explore'

In [59]:
seville_cartuja = [37.402559152869856, -6.006329402641001]

In [60]:
def call_api (query, coordinates):
    parametros = {
        "client_id": client_id,
        "client_secret": client_secret,
        "v": "20220209",
        "ll": f"{coordinates[0]},{coordinates[1]}",
        "query": query,
        "limit": 200   
    }
    resp = requests.get(url_query, params=parametros).json()["response"]["groups"][0]["items"]
    return resp

In [61]:
mapa_nombre = ["venue", "name"]
mapa_latitud = ["venue", "location", "lat"]
mapa_longitud = ["venue", "location", "lng"]
mapa_direccion = ["venue", "location", "formattedAddress"]

In [62]:
def getFromDict(diccionario, mapa):
    from functools import reduce
    import operator
    return reduce(operator.getitem,mapa,diccionario)

In [66]:
def type_point(lista):
    return {"type": "Point", 
            "coordinates": lista
    }

In [67]:
def json_to_mongo (response, type_=""):
    json_to_mongo = []
    for dic in response:
        new_dic= {}
        new_dic["nombre"]= getFromDict(dic,mapa_nombre)
        lat = getFromDict(dic,mapa_latitud)
        lon = getFromDict(dic,mapa_longitud)
        new_dic["dirección"]= getFromDict(dic,mapa_direccion)
        new_dic["location"]=  type_point([lat,lon])
        new_dic["Type"] = type_
        json_to_mongo.append(new_dic)
    return json_to_mongo

In [68]:

def export_dump (name, json_to_save) :
    with open(name, 'w') as f:
        json.dump(json_to_save,f)

In [47]:
def json_from_city(city_coordiantes):
    json_vegan = call_api("vegan", city_coordiantes)
    json_startup = call_api("Startup", city_coordiantes)
    json_guarderias = call_api("guarderia", city_coordiantes)
    json_colegios = call_api("colegio", city_coordiantes)
    json_discotecas = call_api("discoteca", city_coordiantes)
    json_starbucks = call_api("starbucks", city_coordiantes)
    json_train_station = call_api("estacion trenes", city_coordiantes)
    json_airport = call_api("aeropuerto", city_coordiantes)
    json_peluqueria = call_api("peluquería canina", city_coordiantes)
    
    return [json_vegan, json_startup, json_guarderias, json_colegios, json_discotecas, 
            json_starbucks,json_train_station,json_airport,json_peluqueria]

In [74]:
def json_from_city_to_dic(city_coordiantes):
    json_vegan = call_api("vegan", city_coordiantes)
    json_startup = call_api("Startup", city_coordiantes)
    json_guarderias = call_api("guarderia", city_coordiantes)
    json_colegios = call_api("colegio", city_coordiantes)
    json_discotecas = call_api("discoteca", city_coordiantes)
    json_starbucks = call_api("starbucks", city_coordiantes)
    json_train_station = call_api("estacion trenes", city_coordiantes)
    json_airport = call_api("aeropuerto", city_coordiantes)
    json_peluqueria = call_api("peluquería canina", city_coordiantes)
    
    return {
            "vegan":json_vegan,
            "startup": json_startup,
            "guarderias": json_guarderias,
            "colegios": json_colegios, 
            "discotecas": json_discotecas, 
            "starbucks":json_starbucks,
            "trains": json_train_station,
            "airports":json_airport,
            "peluqueria": json_peluqueria
    }

In [52]:
list_ = json_from_city([53.34283952194576, -6.276496308402336])

In [69]:
def build_list_json_to_mongo(list_json_cities):
    list_json_to_mongo = []
    for i in list_json_cities:
        list_json_to_mongo.append(json_to_mongo(i))
    return list_json_to_mongo

In [80]:
def build_dic_json_to_mongo(dic_json_cities):
    list_json_to_mongo = []
    dictionary = dict ()
    for k, v in dic_json_cities.items():
        dictionary[k] = json_to_mongo(v)
    return dictionary

In [ ]:
dic_json_cities = json_from_city_to_dic(seville_cartuja)

In [82]:
dic_json_to_mongo = build_dic_json_to_mongo(dic_json_cities)

In [88]:
dic_json_to_mongo["vegan"]

[{'nombre': 'Arte y Sabor',
  'dirección': ['Alameda de Hercules, 85 (Niño Perdido)',
   '41002 Sevilla Andalucía',
   'España'],
  'location': {'type': 'Point',
   'coordinates': [37.397938103057676, -5.993535690490854]},
  'Type': ''},
 {'nombre': 'Habanita bar-restaurante',
  'dirección': ['C. Golfo, 3 (Alfalfa)', '41004 Sevilla Andalucía', 'España'],
  'location': {'type': 'Point',
   'coordinates': [37.39079519921688, -5.991394388081911]},
  'Type': ''},
 {'nombre': 'El Paladar',
  'dirección': ['C. Lumbreras, 14', '41002 Sevilla Andalucía', 'España'],
  'location': {'type': 'Point',
   'coordinates': [37.40074883402185, -5.995056109436287]},
  'Type': ''},
 {'nombre': 'Veganitessen',
  'dirección': ['C. Pastor y Landero', '41001 Sevilla Andalucía', 'España'],
  'location': {'type': 'Point',
   'coordinates': [37.38752198105977, -5.9999156108412794]},
  'Type': ''},
 {'nombre': 'Milk Away',
  'dirección': ['C. Hernando Colon, 3', 'Sevilla Andalucía', 'España'],
  'location': {'type': 'Point',
   'coordinates': [37.38792076679644, -5.9936542311489305]},
  'Type': ''},
 {'nombre': 'El viajero sedentario',
  'dirección': ['Alameda de Hércules, 77', 'Sevilla Andalucía', 'España'],
  'location': {'type': 'Point',
   'coordinates': [37.39851920354189, -5.993431715214293]},
  'Type': ''},
 {'nombre': 'Gaia Restaurante',
  'dirección': ['Calle de Luis de Vargas, 2 (Calle Marqués de Paradas, 22)',
   '41001 Sevilla Andalucía',
   'España'],
  'location': {'type': 'Point',
   'coordinates': [37.390269398889586, -6.001410377232773]},
  'Type': ''},
 {'nombre': 'Fargo',
  'dirección': ['C. Perez Galdós, 20', 'Sevilla Andalucía', 'España'],
  'location': {'type': 'Point', 'coordinates': [37.390952, -5.990993]},
  'Type': ''},
 {'nombre': 'Bar Alfalfa',
  'dirección': ['Plaza de la Alfalfa, 10',
   '41004 Sevilla Andalucía',
   'España'],
  'location': {'type': 'Point',
   'coordinates': [37.3900567128735, -5.990202095829306]},
  'Type': ''},
 {'nombre': 'Dulce Trazo',
  'dirección': ['C. Méndez Núñez, 7', '41001 Sevilla Andalucía', 'España'],
  'location': {'type': 'Point',
   'coordinates': [37.389867293614806, -5.996603939473247]},
  'Type': ''},
 {'nombre': 'Almazen Café',
  'dirección': ['Calle San Esteban 15', '41003 Sevilla Andalucía', 'España'],
  'location': {'type': 'Point', 'coordinates': [37.389721, -5.985609]},
  'Type': ''},
 {'nombre': 'Jester',
  'dirección': ['Calle Puerta de la Carne, 7a',
   '41004 Sevilla Andalucía',
   'España'],
  'location': {'type': 'Point',
   'coordinates': [37.385766544266914, -5.986380196451952]},
  'Type': ''},
 {'nombre': 'Filo Sandwichería Pija',
  'dirección': ['Hernando Colón 19', '41004 Sevilla Andalucía', 'España'],
  'location': {'type': 'Point', 'coordinates': [37.387348, -5.993371]},
  'Type': ''},
 {'nombre': 'Just Good a lifestyle',
  'dirección': ['Calle Avión Cuatro Vientos 1, local 1 (Avenida Diego Martínez Barrio)',
   '41013 Sevilla Andalucía',
   'España'],
  'location': {'type': 'Point',
   'coordinates': [37.375818591114886, -5.97506046295166]},
  'Type': ''},
 {'nombre': 'Sidonia',
  'dirección': ['C. Calatrava, 16 (Alameda de Hércules)',
   '41002 Sevilla Andalucía',
   'España'],
  'location': {'type': 'Point',
   'coordinates': [37.40161543033652, -5.994158576496133]},
  'Type': ''},
 {'nombre': 'Torch',
  'dirección': ['Paseo de las Delicias, 3',
   '41013 Sevilla Andalucía',
   'España'],
  'location': {'type': 'Point', 'coordinates': [37.381651, -5.995271]},
  'Type': ''},
 {'nombre': 'Bar Antojo',
  'dirección': ['C. Calatrava, 44', '41002 Sevilla Andalucía', 'España'],
  'location': {'type': 'Point',
   'coordinates': [37.40287705459166, -5.994911790840845]},
  'Type': ''}]

In [87]:
for k, v in dic_json_to_mongo.items():
    export_dump(f"{k}.json",v)

In [17]:
#db = client.get_database("restaurants")
restaurants = db.get_collection("restaurants")

In [18]:
#db.restaurants.create_index([("location", GEOSPHERE)])

In [24]:
#query = {"location": {"$near": {"$geometry": type_point(seville_cartuja),"$minDistance":100 ,"$maxDistance": 2000}}}

#list(restaurants.find(query))

In [20]:
query = [
   {
     '$geoNear': {
        'near':  [37.402559152869856, -6.006329402641001] ,
        'distanceField': "dist.calculated",
        'maxDistance': 2000,
        'distanceMultiplier': 6371,
        "spherical": True
     }
   }
]

In [21]:
geoloc = restaurants.aggregate(query)

In [22]:
milista= list(geoloc)

In [137]:
[x['dist'] for x in milista]

[{'calculated': 1.2694184342275248},
 {'calculated': 1.2700671489744895},
 {'calculated': 1.35735209930848},
 {'calculated': 1.4650009449775032},
 {'calculated': 1.5021327947317324},
 {'calculated': 1.5115961919192207},
 {'calculated': 1.7718311934017992},
 {'calculated': 1.8093710895103143},
 {'calculated': 2.1095812651266246},
 {'calculated': 2.1344208793755683},
 {'calculated': 2.146381912746296},
 {'calculated': 2.214905251319349},
 {'calculated': 2.264377942100668},
 {'calculated': 2.6187797059889144},
 {'calculated': 2.7063000055375865},
 {'calculated': 2.8929602669769054},
 {'calculated': 4.5644338752369515}]